<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almanaque - Crossfit Gym</title>
    <link rel="stylesheet" href="/static/css/inicio.css">
</head>

<body>
    <div class="container">
        <h1>Almanaque de Actividades</h1>


        <div class="calendar">
            <div class="month">
                <button class="prev">&#10094;</button>
                <div class="month-title">
                    <h2 id="monthName"></h2>
                    <h3 id="year"></h3>
                </div>
                <button class="next">&#10095;</button>
            </div>

            <div class="weekdays">
                <div>Dom</div>
                <div>Lun</div>
                <div>Mar</div>
                <div>Mié</div>
                <div>Jue</div>
                <div>Vie</div>
                <div>Sáb</div>
            </div>

            <div class="days" id="calendarDays"></div>
        </div>
    </div>

    <script src="/static/js/inicio.js"></script>
</body>

</html>