<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes registrados</title>
    <link rel="stylesheet" href="/static/css/ver_clientes.css">
</head>

<body>
    <h1>Clientes registrados</h1>
    <table id="data-table">
        <thead>
            <tr>
                <th>Id cliente</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Fecha de inscripcion</th>
                <!-- Agrega más encabezados según tus datos -->
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se insertarán los datos -->
        </tbody>
    </table>

    <script src="/static/js/ver_clientes.js"></script>
</body>

</html>